.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__box-ri
      .Chat-main__group-info__box-ri__name
        = @group.name
      .Chat-main__group-info__box-ri__messages
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) do
      .Chat-main__group-info__box-ri__con
        Edit

  .Chat-main__message-list
    = render @messages

  = form_with model: [@group, @message], html: {class: "Chat-main__message-form"}, local: true do |f|
    .Chat-main__message-form__box-bun__message
      = f.text_field :content,class:"Chat-main__message-form__box-bun__message__text"
      = f.label :image, class: 'input-box__image' do
        = icon('fas', 'image')
        = f.file_field :image, class: 'Hidden'
    = f.submit 'Send', class: 'Chat-main__message-form__box-bun__message__send'
