.Side-bar
  .Side-bar__user-name
    %ul.Side-bar__user-name__Top-items
      %li.Side-bar__user-name__Top-items__name
        = current_user.name
   
    = link_to new_group_path do
      = icon('fas', 'edit', class: 'Side-bar__user-name__Top-items__pen')
    = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: 'Side-bar__user-name__Top-items__kikai')
  
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__box
        = link_to '#' do
          %ul.Side-bar__group-list__box__group__name
            = group.name
          %ul.Side-bar__group-list__box__group__name__group__messages
            まだメッセージがありません